@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "_Layout";
}

<div class="text-center mt-5">
    <h1 class="display-4">Ödeme Sistemine Hoşgeldiniz</h1>
    <p class="lead">Satıcılar ile müşteriler arasında güvenli alışveriş platformu</p>

    <div class="mt-4">
        <a href="/Auth/GirisYap" class="btn btn-primary btn-lg me-2">Giriş Yap</a>
        <a href="/Auth/KayitOl" class="btn btn-outline-success btn-lg">Kayıt Ol</a>
    </div>
</div>
